.container {
  background-color: aqua;
  width: 100%;
  height: 21vh;
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  margin-bottom: 12px;
  font-size: 2.0rem;
}

.container input {
  min-width: 360px;
  padding: 5px 12px;
  margin-bottom: 36px;
  outline: none;
}

p2{
  margin-top: 30px;
  font-size: 10px;
}

p3{
  margin-top: 1px;
  font-size: 10px;
}