html{
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
}

h{
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: cornflowerblue;
    text-shadow: 3px 3px 1px black;
}

name{
    font-size: px;
    text-align: left;
    margin: 0;
}

p1{
    padding: 1rem 2rem;
    border-left: 6px double #000;
    font-family: fantasy;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
}

li1{
    font-size: 12px;
    padding-left: 1px;
}

p2{
    font-size: 15px;
    line-height: 0%;
}

.box6{
    width: 550px;
    height: 120;
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #f0f7ff;
    border: dashed 2px #5b8bd0; 
}

.box6 li3 p2{
    line-height: 0px;
    margin: 0;
    padding: 0;
}

li4{
    font-size: 12px;
}

.box11{
    width: 600px;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

span{
    color: red;
}

